@charset "UTF-8";

/* Estilos para tablets (770px - 992px) */
@media screen and (min-width: 770px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #021E43, #C7A7F2, #6698F7);
    }

    main > section {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    section#login > div#imagem {
        width: 50%;
        height: auto;
        background-size: cover;
    }

    section#login > div#formulario {
        width: 250px;
        padding: 15px;
    }
}

/* Estilos para telas grandes (992px+) */
@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to right, #021E43, #C7A7F2, #6698F7);
    }

    section#login {
        width: 900px;
        display: flex;
        flex-direction: row;
        align-items: center;
        min-height: 450px;
    }

    section#login > div#imagem {
        width: 50%;
        height: auto;
        background-size: cover;
    }

    section#login > div#formulario {
        width: 50%;
        padding: 30px;
    }
}
